.navbar {
  background-color: #4169e1;
}

.navbar h2 {
  display: inline-block;
  text-align: left;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* .navbar a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
} */
