<form action="#" method="post">
    <h2>Department</h2>
    <select name="departments" id="departments">
        <option value="COMS">Computer</option>
        <option value="ELEN">Electrical Engineering</option>
        <option value="CHEM">Chemistry</option>
        <option value="CHEN">Chemical Engineering</option>
        <option value="MECE">Mechanical Engineering</option>
        <option value="MATH">Mathematics</option>
        <option value="PHYS">Physics</option>
        <option value="PSYC">Psychology</option>
        <option value="STAT">Statistics</option>
        <option value="MEDI">Medicine</option>
    </select>
    <h2>Course Number</h2>
    <input type="text" name="cnum"/>
    <button>Submit</button>    
</form>