<form action="#" method="post">
    <h2>Student Id</h2>
    <input type="text" name="sid"/>
    <h2>Track Name</h2>
    <select name="tracks" id="tracks">
        <option value="Computational Biology">Computational Biology</option>
        <option value="Computer Security">Computer Security</option>
        <option value="Foundations of Computer Science">Foundations of Computer Science</option>
        <option value="Machine Learning">Machine Learning</option>
        <option value="Natural Language Processing">Natural Language Processing</option>
        <option value="Network Systems">Network Systems</option>
        <option value="Software Systems">Software Systems</option>
        <option value="Vision, Graphics, Interaction, and Robotics">Vision, Graphics, Interaction, and Robotics</option>
        <option value="MS Personalized">MS Personalized</option>
        <option value="MS Thesis">MS Thesis</option>
    </select>
    <h2>Section Year</h2>
    <select name="years" id="years">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
    </select>       
    <h2>Section Semester</h2>
    <select name="semesters" id="semesters">
        <option value="FALL">Fall</option>
        <option value="SPRING">Spring</option>
    </select>  
    <button>Submit</button>
</form>
